# rendered by spark-shell from templates/.gitconfig -- edit ~/.config/spark-shell/config, then spark-shell apply
[user]
	name = @GIT_NAME@
	email = @GIT_EMAIL@
[init]
	defaultBranch = main
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[alias]
	st = status -sb
	lg = log --oneline --graph --decorate -20
